@model PerfV400.Models.Venue

@{
    ViewBag.Title = "Venue Details";
}


<div id="VenueDetails">

    <fieldset class="main">
        <legend>Venue</legend>

        <ul class="toolbar">
            <li class="edit">@Html.ActionLink("Edit Venue Details", "EditVenue", new { id = Model.Venue_Id }, htmlAttributes: new { @class = "editLink", data_dialog_title = "Edit Venue Details" })</li>
        </ul>
        @Html.Partial("DetailsVenue")



@if (Model.Events.Count > 0)
{
        <fieldset>
            <legend>Performances</legend>


        @using (Ajax.BeginForm("MoreVenueEvents", "Venue",
            new { page = 0 },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnFailure = "searchFailed",
                LoadingElementId = "ajax-loader",
                UpdateTargetId = "venueeventsearchresults"
            }))
        {


        @Html.Hidden("filter_Venue_Id", Model.Venue_Id)


        <div class="filter">
            <div class="filter-label">
                Event Name
            </div>
            <div class="filter-field">
                @Html.TextBox("filter_search", null)
            </div>

            <div class="filter-label">
                Genre
            </div>
            <div class="filter-field">
                @Html.DropDownList("filter_Event_GenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, "All Genres") 
            </div>

            <div class="filter-label">
                Piece
            </div>
            <div class="filter-field">
                @Html.DropDownList("filter_Performance_Piece", (IEnumerable<SelectListItem>)ViewBag.Pieces, "All Pieces") 
            </div>

            <div class="filter-label">
                Date
            </div>
            <div class="filter-field">
                @Html.TextBox("filter_From_Event_Date", null, new { @class = "datepicker", @style = "width:8em" })
                to
                @Html.TextBox("filter_To_Event_Date", null, new { @class = "datepicker", @style = "width:8em" })
            </div>

            <div class="filter-label">
                &nbsp;
            </div>
            <div class="filter-field">
                <input id="fs" type="submit" value="Filter" />
            </div>
        </div>
            

    
        <img id="ajax-loader" alt="loading" src="@Url.Content("~/Content/loading_lg.gif")" style="display:none" />

        <div id="venueeventsearchresults">
    
            @{
            ViewBag.Venue_Id = Model.Venue_Id;
            IEnumerable<PerfV400.Models.Event> events = ViewBag.events;
            }
            @Html.Partial("_MoreVenueEvents", events)

        </div>
    
        }    




        

        </fieldset>              
}

   </fieldset>

    <fieldset class="comments">
        <legend>Comments</legend>

        @foreach (PerfV400.Models.VenueComment venueComment in Model.VenueComments)
        {
            string imgSrc = string.Format("http://graph.facebook.com/{0}/picture?width=30&height=30", venueComment.Comment.User.User_FacebookId.ToString());
            
            <div class="display-comment">
                <div class="display-user-icon">
                    <img src="@imgSrc" />
                </div>
                <div class="display-comment-text">
                    @venueComment.Comment.Comment_Text
                </div>
            </div>
        }
        
        @if (Session["UserFacebookId"] != null && Session["UserFacebookId"].ToString().Length != 0)
        {
            string myImgSrc = string.Format("http://graph.facebook.com/{0}/picture?width=30&height=30", Session["UserFacebookId"]);

            <div class="display-comment">
                <div class="display-user-icon">

                    <img src="@myImgSrc" />
                </div>
                <div class="display-comment-text">
                    @Html.TextArea("NewComment")
                </div>
            </div>
        }
        else
        {
            <div class="display-comment">
                @Html.Action("ExternalLoginsList","Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>
           
        }

    </fieldset>
    
</div>