@model PerfV400.Models.Venue

@{
    ViewBag.Title = "Venue Details";
}


<div id="VenueDetails">

    <fieldset>
        <legend>Venue</legend>

        <ul class="toolbar">
            <li class="edit">@Html.ActionLink("Edit Venue Details", "EditVenue", new { id = Model.Venue_Id }, htmlAttributes: new { @class = "editLink", data_dialog_title = "Edit Venue Details" })</li>
        </ul>
        @Html.Partial("DetailsVenue")
    </fieldset>


@if (Model.Events.Count > 0)
{
<fieldset>
    <legend>Performances</legend>


@using (Ajax.BeginForm("MoreVenueEvents", "Venue",
    new { page = 0 },
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnFailure = "searchFailed",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "venueeventsearchresults"
    }))
{

    <div class="filter">

    @Html.Hidden("filter_Venue_Id", Model.Venue_Id)

    <table>
        <tr>
            <td class="filter-label">
                Search
            </td>
            <td class="filter-field">
                @Html.TextBox("filter_search", null)
                <input id="fs" type="submit" value="Search" />
            </td>
        </tr>
        <tr>
            <td class="filter-label">
                Genre
            </td>
            <td class="filter-field">
                @Html.DropDownList("filter_Event_GenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, "All Genres", new { onchange = "$(\"#fs\").click();" }) 
            </td>
        </tr>
        <tr>
            <td class="filter-label">
                Piece
            </td>
            <td class="filter-field">
                @Html.DropDownList("filter_Performance_Piece", (IEnumerable<SelectListItem>)ViewBag.Pieces, "All Pieces", new { onchange = "$(\"#fs\").click();" }) 
            </td>
        </tr>
        <tr>
            <td class="filter-label">
                Date
            </td>
            <td class="filter-field">
                @Html.TextBox("filter_From_Event_Date", null, new { onchange = "$(\"#fs\").click();", @class = "datepicker", @style = "width:8em" })
                to
                @Html.TextBox("filter_To_Event_Date", null, new { onchange = "$(\"#fs\").click();", @class = "datepicker", @style = "width:8em" })
            </td>
            <td class="filter-field">
            </td>
        </tr>

    </table>

</div>

    
<img id="ajax-loader" alt="loading" src="@Url.Content("~/Content/loading_lg.gif")" style="display:none" />

<div id="venueeventsearchresults">
    
    @{
    ViewBag.Venue_Id = Model.Venue_Id;
    IEnumerable<PerfV400.Models.Event> events = ViewBag.events;
    }
    @Html.Partial("_MoreVenueEvents", events)

</div>
    
}    




        

</fieldset>       
}

   
    
</div>