@model IEnumerable<PerfV400.Models.Venue>

@{
    ViewBag.Title = "Venues";
}

<ul class="toolbar">
    <li class="add">@Html.ActionLink("Add New Venue", "NewVenue", "Venue", new {  }, htmlAttributes: new { @class = "createLink", data_dialog_title = "Add New Venue" })</li>
</ul>

<p>
    @Html.ActionLink("Create New Venue", "Create")
</p>

@using (Ajax.BeginForm("MoreVenues", "Venue",
    new     {page = 0}, 
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnFailure = "searchFailed",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "searchresults"
    }))
{


<div class="filter">
    <div class="filter-label">
        Venue Name
    </div>
    <div class="filter-field">
        @Html.TextBox("filter_search", null)
    </div>

    <div class="filter-label">
        Country
    </div>
    <div class="filter-field">
        @Html.DropDownList("filter_Venue_CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, "All Countries") 
    </div>

    <div class="filter-label">
        &nbsp;
    </div>
    <div class="filter-field">
        <input id="fs" type="submit" value="Filter" />
    </div>
</div>


<img id="ajax-loader" alt="loading" src="@Url.Content("~/Content/loading_lg.gif")" style="display:none" />

<div id="searchresults">

    @Html.Partial("_MoreVenues")

</div>    
    
}
