<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Amovada</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/Perf400")


    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                   <a href="/event"><img src="@Url.Content("~/Content/logo.png")" alt="logo" /></a>
                 </div>



<section id="homesearch" class="section" style="float:left; ">
    <fieldset style="border:0; padding:0 0 0 4em; margin:0;">
        <legend style="color:white">Search</legend>

    @using (Html.BeginForm("Search", "Home"))
    {

    <div class="filter">
        <div class="filter-field">
            @Html.TextBox("filter_search", null)
            <input id="fs" type="submit" value="Go" />
        </div>
    </div>
    }
    </fieldset>
</section>



                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Events", "Index", "Event")</li>
                                <li class="add">@Html.ActionLink(" ", "NewEvent", "Event", new {  }, htmlAttributes: new { @class = "createLink", data_dialog_title = "Add New Event" })</li>

                            <li>@Html.ActionLink("Artists", "Index", "Artist")</li>
                                <li class="add">@Html.ActionLink(" ", "NewArtist", "Artist", new {  }, htmlAttributes: new { @class = "createLink", data_dialog_title = "Add New Artist" })</li>

                            <li>@Html.ActionLink("Pieces", "Index", "Piece")</li>
                                <li class="add">@Html.ActionLink(" ", "NewPiece", "Piece", new {  }, htmlAttributes: new { @class = "createLink", data_dialog_title = "Add New Piece" })</li>

                            <li>@Html.ActionLink("Venues", "Index", "Venue")</li>
                                <li class="add">@Html.ActionLink(" ", "NewVenue", "Venue", new {  }, htmlAttributes: new { @class = "createLink", data_dialog_title = "Add New Venue" })</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">

            <div id="EditDialogue" title="Edit Details"></div>
            <div id="CopyDialogue" title="Copy Details"></div>
            <div id="CreateDialogue" title="Create Details"></div>
            <div id="DeleteDialogue" title="Delete Details"></div>
            <div id="commonMessage"></div>

            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Amovada</p>
                </div>
            </div>
        </footer>


        @RenderSection("scripts", required: false)
    </body>
</html>
