@model PerfV400.Models.Artist

@{
    ViewBag.Title = "Artist Details";
}

<div id="ArtistDetails">
    
    <fieldset class="main">
        <legend>Artist</legend>

        <ul class="toolbar">
            <li class="edit">@Html.ActionLink("Edit Artist Details", "EditArtist", new { id = Model.Artist_Id }, htmlAttributes: new { @class = "editLink", data_dialog_title = "Edit Artist Details" })</li>
            <li class="delete">@Html.ActionLink("Delete Artist", "DeleteArtist", new { id = Model.Artist_Id }, htmlAttributes: new { @class = "deleteLink", data_dialog_title = "Delete Artist" })</li>
        @if (ViewBag.CouldIBeTheArtist) {
            <li class="edit">@Html.ActionLink("This is me!", "ThisIsMe", new { id = Model.Artist_Id }, htmlAttributes: new { @class = "editLink", data_dialog_title = "This is me!" })</li>      
        }
        </ul>
        @Html.Partial("DetailsArtist")


    
@if (Model.PerformanceArtists.Count > 0)
{
        <fieldset>
            <legend>Performances</legend>


        @using (Ajax.BeginForm("MoreArtistEvents", "Artist",
            new     {page = 0}, 
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnFailure = "searchFailed",
                LoadingElementId = "ajax-loader",
                UpdateTargetId = "artisteventsearchresults"
            }))
        {


            @Html.Hidden("filter_Artist_Id", Model.Artist_Id)

            <div class="filter">
                <div class="filter-label">
                    Artist Name
                </div>
                <div class="filter-field">
                    @Html.TextBox("filter_search", null)
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    Genre
                </div>
                <div class="filter-field">
                    @Html.DropDownList("filter_Event_GenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, "All Genres") 
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    Piece
                </div>
                <div class="filter-field">
                    @Html.DropDownList("filter_Performance_Piece", (IEnumerable<SelectListItem>)ViewBag.Pieces, "All Pieces") 
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    Venue
                </div>
                <div class="filter-field">
                    @Html.DropDownList("filter_Event_VenueId", (IEnumerable<SelectListItem>)ViewBag.Venues, "All Venues") 
                    @Html.TextBox("filter_Event_Venue", null)        
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    City
                </div>
                <div class="filter-field">
                    @Html.DropDownList("filter_Venue_City", (IEnumerable<SelectListItem>)ViewBag.Cities, "All Cities") 
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    Country
                </div>
                <div class="filter-field">
                    @Html.DropDownList("filter_Venue_CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, "All Countries") 
                </div>
            </div>
            <div class="filter">
                <div class="filter-label">
                    Date
                </div>
                <div class="filter-field">
                    @Html.TextBox("filter_From_Event_Date", null, new { @class = "datepicker", @style = "width:8em" })
                    to
                    @Html.TextBox("filter_To_Event_Date", null, new { @class = "datepicker", @style = "width:8em" })
                </div>
            </div>

              
            <div class="filter">
                <div class="filter-label">
                    &nbsp;
                </div>
                <div class="filter-field">
                    <input id="fs" type="submit" value="Search" />
                </div>
            </div>

    
        <img id="ajax-loader" alt="loading" src="@Url.Content("~/Content/loading_lg.gif")" style="display:none" />

        <div id="artisteventsearchresults">
    
            @{
                ViewBag.Artist_Id = Model.Artist_Id;
                IEnumerable<PerfV400.Models.Event> events = ViewBag.events;
            }
            @Html.Partial("_MoreArtistEvents", events)

        </div>
    
        }    




        

        </fieldset>        
}


@if (Model.PieceArtists.Count > 0)
{
         <fieldset>
            <legend>Pieces</legend>

                <table border="0">

                @foreach (PerfV400.Models.PieceArtist pieceArtist in Model.PieceArtists.OrderBy(pa => pa.Piece.Piece_Year).ThenBy(pa => pa.Piece.Piece_Name))
                {
                    string pieceGenreYear = "";
                    if (pieceArtist.Piece.Genre != null && pieceArtist.Piece.Genre.Genre_Name != null)
                    {
                        pieceGenreYear = string.Format("{0} - {1}", pieceGenreYear, pieceArtist.Piece.Genre.Genre_Name);
                    }
                    if (pieceArtist.Piece.Piece_Year != null)
                    {
                        pieceGenreYear = string.Format("{0} - {1}", pieceGenreYear, pieceArtist.Piece.Piece_Year);
                    }
            
                    <tr>
                        <td class="cell-thumb">
                            <img height="50" src="@Url.Action("GetPieceImage", "Artist", new { id = pieceArtist.PieceArtist_PieceId })" alt="" border="0" style="border:0"/>
                        </td>
                        <td class="cell-field">
                            @Html.ActionLink(@pieceArtist.Piece.Piece_Name, "Details", "Piece", new { id = pieceArtist.PieceArtist_PieceId }, null)
                            @pieceGenreYear
                        </td>

                    </tr>
                }

                </table>
        </fieldset>
        
}



@if (Model.vPerformanceArtist_RoleCount.Count > 0)
{
         <fieldset>
            <legend>Roles</legend>

                <table border="0">

                @foreach (PerfV400.Models.vPerformanceArtist_RoleCount roleCount in Model.vPerformanceArtist_RoleCount.OrderByDescending(rc => rc.PerformanceCount))
                {
                    string strPerformanceCount = "performances";
                    if (roleCount.PerformanceCount == 1)
                    {
                        strPerformanceCount = "performance";
                    }
            
                    <tr>
                        <td class="cell-thumb">
                            <img height="50" src="@Url.Action("GetPieceImage", "Artist", new { id = roleCount.Role.Role_PieceId })" alt="" border="0" style="border:0"/>
                        </td>
                        <td class="cell-field">
                            @if (roleCount.Role.Piece != null){
                                @Html.ActionLink(string.Format("{0} - {1} ({2} {3})",roleCount.Role.Piece.Piece_Name,roleCount.Role.Role_Name, roleCount.PerformanceCount, strPerformanceCount), "Details", "Role", new { id = roleCount.Role.Role_Id }, null)
                            }
                            else {
                                @Html.ActionLink(string.Format("{0} ({1} {2})",roleCount.Role.Role_Name, roleCount.PerformanceCount, strPerformanceCount), "Details", "Role", new { id = roleCount.Role.Role_Id }, null) 
                            }
                        </td>

                    </tr>
                }

                </table>
        </fieldset>
    

        
}

    </fieldset>    


    <fieldset class="comments">
        <legend>Comments</legend>

        @foreach (PerfV400.Models.ArtistComment artistComment in Model.ArtistComments)
        {
            string imgSrc = string.Format("http://graph.facebook.com/{0}/picture?width=30&height=30", artistComment.Comment.User.User_FacebookId.ToString());
            
            <div class="display-comment">
                <div class="display-user-icon">
                    <img src="@imgSrc" />
                </div>
                <div class="display-comment-text">
                    @artistComment.Comment.Comment_Text
                </div>
            </div>
        }
        
        @if (Session["UserFacebookId"] != null && Session["UserFacebookId"].ToString().Length != 0)
        {
            string myImgSrc = string.Format("http://graph.facebook.com/{0}/picture?width=30&height=30", Session["UserFacebookId"]);

            <div class="display-comment">
                <div class="display-user-icon">

                    <img src="@myImgSrc" />
                </div>
                <div class="display-comment-text">
                    @Html.TextArea("NewComment")
                </div>
            </div>
        }
        else
        {
            <div class="display-comment">
                @Html.Action("ExternalLoginsList","Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>
           
        }

    </fieldset>

</div>

<script type="text/javascript">
    $("#filter_Event_Venue").autocomplete({
        source: "@Url.Action("Autocomplete_Event_VenueName")",
    });
</script>