@model IEnumerable<PerfV400.Models.Artist>

@{
    int nextPage = 1;
    if (ViewBag.page != null)
    {
        nextPage = ViewBag.page +1 ;
    }
    string nextDiv = string.Format("more{0}", nextPage);
}


@foreach (var item in Model)
{
<div class="Photo150">
    <div class="PhotoImage">
        <a href="@Url.Action("Details", "Artist", new { id = item.Artist_Id }, null)">
            <img class="thumb" width="150" src="@Url.Action("GetArtistImage", "Artist", new { id = item.Artist_Id })" alt="" border="0" style="border:0"/>
        </a>
    </div>
    <div class="UserStatus">
    </div>
    <div class="PhotoCaption">
        <div class="PhotoCaptionText">
            <a href="@Url.Action("Details", "Artist", new { id = item.Artist_Id }, null)">
                <strong>@Html.DisplayFor(modelItem => item.Artist_FirstName) @Html.DisplayFor(modelItem => item.Artist_LastName)</strong>
            </a>
        </div>
    </div>
</div>        
 
}



@if (ViewBag.recordCount - 60 * ViewBag.page > 60)
{
<div id="@nextDiv">
    <div style="width:200px">&nbsp;</div>
    
    @Ajax.ActionLink("more...", "MoreRoleArtists",
        new
        {
            filter_Artist_Id = ViewBag.Artist_Id,
            filter_search = HttpUtility.UrlEncode((string)ViewBag.filter_search),
            filter_Role_VenueId = ViewBag.filter_Role_VenueId,
            filter_Venue_City = ViewBag.filter_Venue_City,
            filter_Venue_CountryId = ViewBag.filter_Venue_CountryId,
            filter_From_Artist_Date = ViewBag.filter_From_Artist_Date,
            filter_To_Artist_Date = ViewBag.filter_To_Artist_Date,
            page = nextPage
        },
        new AjaxOptions
        {
            UpdateTargetId = nextDiv,
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "ajax-loader1"
        })
    <div style="clear:both"></div>

    <img id="ajax-loader1" alt="loading" src="@Url.Content("~/Content/loading_lg.gif")" style="display:none" />

</div>
}

