@model PerfV400.Models.PerformanceArtist

@{
    ViewBag.Title = "Edit Performance Artist";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("EditPerformanceArtist", "Event", null,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnFailure = "searchFailed",
        OnSuccess = "updateSuccess",
        UpdateTargetId = string.Format("PerformanceArtistDetails{0}", Model.PerformanceArtist_Id)
    },
    new { @id = "EditForm" }

    
    )) 

{   
    
    @Html.ValidationSummary(true)

    <div id="update-message" class="error invisible"></div>
    
    <fieldset>
        <legend>Artist</legend>

        @Html.HiddenFor(model => model.PerformanceArtist_Id)
        @Html.HiddenFor(model => model.PerformanceArtist_PerformanceId)


        <div class="editor-label">
            @Html.DisplayNameFor(model => model.PerformanceArtist_RoleId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PerformanceArtist_RoleId", String.Empty)
            @Html.ValidationMessageFor(model => model.PerformanceArtist_RoleId)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.PerformanceArtist_ArtistId)
        </div>
        <div class="editor-field">
            @Html.TextBox("PerformanceArtist_ArtistFullName", string.Format("{0} {1}", Model.Artist.Artist_FirstName, Model.Artist.Artist_LastName).Trim())
            @Html.ValidationMessageFor(model => model.PerformanceArtist_ArtistId)
        </div>
       
        <div>
            <div class="editor-label">
                @Html.DisplayNameFor(model => model.PerformanceArtist_Comments)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.PerformanceArtist_Comments)
                @Html.ValidationMessageFor(model => model.PerformanceArtist_Comments)
            </div>
        </div>

    </fieldset>
}


<script type="text/javascript">
$("#PerformanceArtist_ArtistFullName").autocomplete({
    source:"@Url.Action("Autocomplete_Artist_FullName")",  
});  
</script>
